.swiper-container {
    width: 100%;
    height: 694px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullet {
    background: #fff;
    border: 1px solid #fff;
}

.swiper-container .swiper-pagination-bullet-active {
    background: #007aff;
}




.four{
    height: 150px;
    margin-top: 30px;
}
.four .box {
    
}
.yunao h3,.rmtj h3{
    background: url('../images/zhuangshitiao.png') no-repeat 0 center;
    background-size: contain;
}
.yunao .bg{
    margin-top: 20px;
    height: 600px;
    background: url('../images/yfwq.png') no-repeat;
    background-size: contain;
}




@media (max-width: 768px) {
    .swiper-container {
        width: 100%;
        height: 344px;
    }
    .yunao .bg{
        margin-top: 20px;
        height: 300px;
    }
}