.swiper-container {
    width: 100%;
    height: 694px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullet {
    background: #fff;
    border: 1px solid #fff;
}

.swiper-container .swiper-pagination-bullet-active {
    background: #007aff;
}